/* 

/js
> Header
> Container 
> Footer 

*/

/* Header Stylesheet */

.header-container {
    background-color: #f8f8f8;
    height: 100px;
    color: rgb(31, 31, 31);
    padding: 15px;
    font-size: 28px;
    text-align: left;
}

/* Container Stylesheet */

.main-container {
    background-color: #ffffff;
    min-height: 600px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.viz-container {
    background-color: #ffffff;
    min-height: 600px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 10px;
}

.custom-tooltip {
    background-color: rgb(119, 119, 119);
    opacity: 0.7;
    height: 250px;
    width: 250px;
    color: white;
    padding: 10px;
    font-size: 13px;
    overflow-y: scroll;
}

.custom-tooltip-scatter {
    background-color: rgb(119, 119, 119);
    opacity: 0.8;
    height: 200px;
    width: 200px;
    color: white;
    padding: 8px;
    font-size: 9px;
    font-weight: bold;
    overflow-y: scroll;
    text-align: left;
}

/* Footer Stylesheet */

.footer-container {
    background-color: #282c34;
    height: 100px;
    position: absolute;
    width: 100%;
    color: white;
    padding: 20px;
    margin-top: auto;
}

.react-logo {
    height: 30px;
}
  