/* 

/js
> Header
> Container 
> Footer 

*/

/* Header Stylesheet */

.header-container {
    background-color: #f8f8f8;
    height: 100px;
    color: rgb(31, 31, 31);
    padding: 10px;
    font-size: 24px;
}

/* Container Stylesheet */

.main-container {
    background-color: #ffffff;
    min-height: 600px;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.viz-container {
    background-color: #ffffff;
    min-height: 600px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    margin: 10px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

/* Footer Stylesheet */

.footer-container {
    background-color: #282c34;
    height: 100px;
    position: absolute;
    width: 100%;
    color: white;
    padding: 20px;
    margin-top: auto;
}

.react-logo {
    height: 30px;
}
  